spring-security-oauth/src/main/resources/org/springframework/security/oauth/spring-security-oauth2-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://spring-security-oauth.codehaus.org/oauth2/1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:beans="http://www.springframework.org/schema/beans"
           targetNamespace="http://spring-security-oauth.codehaus.org/oauth2/1.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:import namespace="http://www.springframework.org/schema/beans"/>

  <xs:element name="provider">
    <xs:annotation>
      <xs:documentation>
        Specifies that the oauth provider filters should be applied to the application security policy.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="flows" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="user_agent" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="disabled" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation>
                        Whether to disable the user_agent flow.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="web_server" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="disabled" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation>
                        Whether to disable the web_server flow.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="verification-code-services-ref" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>
                        The reference to the bean that defines the verification code services. Default value is an instance of
                        "org.springframework.security.oauth2.provider.webserver.InMemoryVerificationCodeServices".
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="user-approval-page" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>
                        The URL of the page that handles the user approval form.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="approval-parameter-name" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>
                        The name of the parameter that is used to indicate user approval of the client authentication request.
                        Default value: "user_oauth_approval".
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>

                  <xs:attribute name="redirect-resolver-ref" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>
                        The reference to the bean that defines the redirect resolver, used during the web_server flow.
                        Default value is an instance of "org.springframework.security.oauth2.provider.webserver.DefaultRedirectResolver".
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="authentication-cache-ref" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>
                        The reference to the bean that defines the authentication cache, used during the web_server flow.
                        Default value is an instance of "org.springframework.security.oauth2.provider.webserver.DefaultClientAuthenticationCache".
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="redirect-strategy-ref" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>
                        The reference to the bean that defines the redirect strategy, used during the web_server flow.
                        Default value is an instance of "org.springframework.security.oauth.provider.DefaultRedirectStrategy".
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="user-approval-filter-ref" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>
                        The reference to the bean that defines the filter that will process a user approval request, used during the web_server flow.
                        Default value is an instance of "org.springframework.security.oauth2.provider.webserver.BasicUserApprovalFilter".
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="approval-handler-ref" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>
                        The reference to the bean that defines the handler for user approval (instance of "org.springframework.security.oauth2.provider.webserver.UserApprovalHandler"), used during web_server flow.
                        Default value is an instance of "org.springframework.security.oauth2.provider.webserver.BasicUserApprovalFilter".
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="device_code" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="disabled" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation>
                        Whether to disable the device_code flow.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="username" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="disabled" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation>
                        Whether to disable the username flow.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="client_credentials" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="disabled" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation>
                        Whether to disable the client_credentials flow.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="assertion" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="disabled" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation>
                        Whether to disable the assertion flow.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>

      <xs:attribute name="client-details-service-ref" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The reference to the bean that defines the client details service.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="token-services-ref" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The reference to the bean that defines the token services. Default value is an instance of
            "org.springframework.security.oauth2.provider.token.InMemoryOAuth2ProviderTokenServices".
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="authorization-url" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The URL at which an authorization request will be serviced. Default value: "/oauth/authorize"
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <!--the following attributes are less used-->
      <xs:attribute name="default-flow" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The default flow type (in case none is specified by the client). Default value is "web_server".
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="authorization-success-handler-ref" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The reference to the bean that defines the success handler for an OAuth 2 authorization request
            Default value is an instance of "org.springframework.security.oauth2.provider.OAuth2AuthorizationSuccessHandler".
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="serialization-service-ref" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The reference to the bean that defines the serialization service for an OAuth 2 response
            Default value is an instance of "org.springframework.security.oauth2.common.DefaultOAuth2SerializationService".
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="valve-ref" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The reference to the bean that defines the valve which handles the difference oauth flows.
            Default value is an instance of "org.springframework.security.oauth2.provider.DefaultOAuth2FlowValve".
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="client-details-service">
    <xs:annotation>
      <xs:documentation>
        Default element that contains the definition of the OAuth clients that are allowed to access this service.
      </xs:documentation>
    </xs:annotation>

    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="beans:identifiedType">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="client">
              <xs:annotation>
                <xs:documentation>
                  Definition of a client.
                </xs:documentation>
              </xs:annotation>

              <xs:complexType>
                <xs:attribute name="clientId" type="xs:string" use="required">
                  <xs:annotation>
                    <xs:documentation>
                      The client id.
                    </xs:documentation>
                  </xs:annotation>
                </xs:attribute>
                <xs:attribute name="secret" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>
                      The client secret. If the secret is undefined or empty (the default) the client does
                      not require a secret.
                    </xs:documentation>
                  </xs:annotation>
                </xs:attribute>
                <xs:attribute name="scope" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>
                      The scope to which the client is limited (comma-separated). If scope is undefined or empty (the default) the client
                      is not limited by scope.
                    </xs:documentation>
                  </xs:annotation>
                </xs:attribute>
                <xs:attribute name="authorizedFlows" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>
                      Flows that are authorized for the client to use (comma-separated). Default value is "web_server".
                    </xs:documentation>
                  </xs:annotation>
                </xs:attribute>
                <xs:attribute name="authorities" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>
                      Authorities that are granted to the client (comma-separated).
                    </xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

</xs:schema>